* {
    box-sizing: border-box;

}


header {
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
}
#toptext {
    font-family: 'Yellowtail', cursive;

}

.title {
    
    
    
    font-size: 30px;
    
}

.logo {
   display: flex;
   
}


#icons {
    /* text-align: right; */
    position: relative;
    float: right;
}

#delicious {
    display: flex;
    flex-direction: column;  
    padding-top: 0.4rem;

}

hr {
    border: 15px solid transparent;
    padding: 15px;   
    border-image: url(img/hr-img.png);
    border-image-slice: 30;
    border-image-repeat:repeat;
    
}

#holder {
    position: relative;
    text-align: center;
    color: black;
  }

 #right {
    position: absolute;
    bottom: 50px;
    left: 20px;
  }
 #left {
    position: absolute;
    bottom: 50px;
    right: 20px;
  }

  .line {
    text-decoration: line-through;
  }

  #print {
      float: right;
  }

  h2 {
     font-size: small;
     color: grey;
  }

  #chocolate {
    font-family: 'News Cycle', sans-serif;
  }

  #pic {
      float: left;
  }

  #share {
      float: right;
      background-color: salmon;
      color: white;
      width: 10rem;
      height: 2.5rem;
      margin-top: .5rem;
      
  }

  /* .fa-stack {
    display: block;
    height: 2em;
    line-height: 2em;
    position: inherit;
    vertical-align: middle;
    width: 2.5em;
  } */

  #footer-text {
    margin-top: 2rem;
    margin-bottom: 1rem;
    align-items: center;
    justify-content: center;
    display: flex;
    
    }
  
p {
    color: grey;
    font-family: 'Rufina', serif;
    margin-bottom: 0rem;
}

em {
    font-weight: bold;
    transform: scale(1, 1.5);
    
}

h1 {
    margin-bottom: 0rem;
}

h2 {
    margin-bottom: 1rem;
}

#textbottom {
    margin-bottom: 4rem;
}

#choco {
    margin-bottom: 1.5rem;
}

#textbottom2 {
    margin-bottom: 2rem;
}

#logo3 {
    color: darkgrey;
}

https://fonts.google.com/specimen/Italianno?preview.text=Delicious&preview.text_type=custom

https://fonts.google.com/specimen/Fira+Sans+Extra+Condensed?preview.text=Chocolate%20Piz&preview.text_type=custom

https://fonts.google.com/specimen/Handlee?preview.text=Figs&preview.text_type=custom

https://fonts.google.com/specimen/Rufina?preview.text=Vanessa&preview.text_type=custom#standard-styles


